.register-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
    flex: 1;
}
.register-box .hero{
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 15px 0 10px 0 ;
}
.register-box .register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0 0 0;
    padding: 50px 0;
    width: 450px;
    height: 650px;
    background-color: #078080;
    backdrop-filter: blur(1px) grayscale(25%);
    box-shadow: 8px 15px 15px rgba(0,0,0,0.7);
    border-radius: 5px;

}
.register-form .inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.inputs .input-titles{
    display: flex;
    flex-direction: column;
    font-weight: 300;
}
.inputs .input-titles label{
    font-size: 1rem;
    margin: 15px 0 0 0;
}
.inputs .input-fields{
    display: flex;
    flex-direction: column;
}
.inputs .input-fields input, .input-fields select{
    font-size: 1rem;
    margin: 10px 0 0 0;
    background-color: #f8f5f2;
    backdrop-filter: blur(10px) grayscale(200%);
    outline: none;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 5px 10px;
    transition: background-color 0.1s ease-in;
    border-radius: 3px;
}
.inputs .input-fields input:hover{
    background-color: #f8f5f2c6;
}
.inputs .input-fields input:focus{
    background-color: #f8f5f2d9;
}
.register-form button{
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #f45d48;
    border: none;
    transition: background-color 0.1s ease-in, scale 0.2s ease-in;
    margin: 20px 0 0 0;
    transition: background-color 0.1s ease-in, scale 0.2s ease-in;
}
.register-form button:hover{
    cursor: pointer;
    background-color: #f45c48db;
    transform: scale(1.05);   
}
.redirect-btn{
    text-decoration: none;
    font-size: 0.7rem;
    color: white;
    padding:0;
    position: relative;
    transition: transform 0.1s ease-in;
    margin: 3px 0 0 0;
}
.redirect-btn:hover{
    transform: scale(1.05);
    color: rgb(237, 241, 255)
}
