.feed{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe-card{
    width: 1000px;
    height: 200px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    background-color: rgb(158, 158, 158);
    transition: transform 0.1s ease-in;
}
.recipe-card:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
.recipe-card .left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100%;
    margin: 0;
}
.recipe-card .left-side .left-top{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    overflow: hidden;
    height: 170px;
    width: 300px;
    margin: 0;
}
.recipe-card .left-side .left-top img{
    margin: 0 ;
    padding: 0;
    object-fit:scale-down;
}
.recipe-card .right-side{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    margin: 0;
}
.right-side .right-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.right-top .recipe-title{
    margin: 10px 0 0 0;
}
.right-top .recipe-time{
    margin: 3px 0 0 0;
}
.right-top .recipe-ingredients{
    margin: 5px 0 0 0;
}
.recipe-ingredients ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.recipe-ingredients ul li{
    padding: 3px;
    background-color: gray;
    margin: 2px;
}