.invisible{
    margin: 0;
    padding: 0;
    transform: scale(0);
    width: 0;
    height: 0;
    opacity: 0;
}
.a{
    width: 1000px;
    height: 100px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 1px 0 0 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center ; */
    align-items: center;
    background-color: #078080;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    animation: commentIn 0.1s ease-in forwards;
}
.a-invisible{
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #078080;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    animation: commentOut 0.1s ease-in forwards;
    /* animation-delay: 0.1s; */
}
.feed .comment-container{
    width: 1000px;
    /* height: 300px; */
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 1px 0 1px 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center ; */
    align-items: center;
    background-color: #078080;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    animation: commentIn 0.1s ease-in forwards;
}
.feed .comment-container-invisible{
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #078080;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    animation: commentOut 0.1s ease-in forwards;
    /* animation-delay: 0.1s; */
}
.new-comment-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0 0 0;
    width: 90%;
    height: 50px;
    opacity: 100%;
}
.new-comment-container-invisible{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0 0 0;
    width: 90%;
    height: 50px;
    opacity: 100%;
    animation: noOpa 0.1s ease-in forwards;
}
.comment-container-invisible hr{
    animation: noOpa 0.1s ease-in forwards;
}
.new-comment-input{
    width: 90%;
    background-color: white;
    resize: none;
    font-size: 1rem;
    height: 50px;
    border: none;
}
.send-comment-btn{
    height: 70%;
    margin: 0 0 0 25px;
    border-radius: 5px;
    border: none;
    background-color: #f45d48;
}
.comments-container{
    margin: 0;
    width: 90%;
}
.comments-container-invisible{
    margin: 0;
    width: 90%;
    animation: noOpa 0.1s ease-in forwards;
}
.comment-username{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin:0 0 5px 0;
}
.comment-content{
    font-size: 0.9rem;
    font-weight: 400;
    margin:0 0 5px 0;
}
.comment-interactions{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.comment-time{
    font-size: 0.9rem;
    font-weight: 300;
    margin:0 0 5px 0;
    width: 100px;
}
.comment-like-btn{
    font-size: 0.9rem;
    font-weight: 300;
    margin:0 0 5px 0;
    width: 30px;
}
.comment-like-number{
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 300;
    margin:0 0 5px 0;
}

@keyframes commentIn{
    from{scale: 0;}
    to{scale: 100%;}
    from{opacity: 0;}
    to{opacity: 100%;}
    /* from{height: 0;} */
    /* to{height: 100px;} */
    /* from{width: 0;}
    to{width: 1000px;} */
}
@keyframes commentOut{
    from{scale: 100%;}
    to{scale: 0;}
    from{opacity: 100%;}
    to{opacity: 0;}
    from{height: 300px;}
    to{height: 0;}
    /* from{width: 1000px;}
    to{width: 0px;} */
}
@keyframes commentOut2{
    from{scale: 100%;}
    to{scale: 0;}
    from{opacity: 100%;}
    to{opacity: 0%;}
    from{height: 90%;}
    to{height: 0px;}
    /* from{width: 1000px;}
    to{width: 0px;} */
}
@keyframes commentOut3{
    from{scale: 100%;}
    to{scale: 0;}
    from{opacity: 100%;}
    to{opacity: 0%;}
    from{height: 90%;}
    to{height: 0;}
    /* from{width: 1000px;}
    to{width: 0px;} */
}
@keyframes noOpa{
    from{opacity: 100%;}
    to{opacity: 0%;}
}

