.create-recipe-box{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
    width: 1000px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(2px);
}
.create-recipe-box .top{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.top .top-left{
    width: 50%;
    border: 1px solid wheat;
}
.top .top-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-recipe-box .input-fields{
    padding: 5px;  
    border-radius: 5px;
}
.create-recipe-box .recipe-name-box{
    width: 70%;
    padding: 0;
    margin: 10px;
}
.create-recipe-box .recipe-name{
    font-size: 1.2rem;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.block{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 10px 0 0 0;
    padding: 0;
}
.block .recipe-time{
    font-size: 1.2rem;
    width: 40%;
    margin: 0 30px 0 0;
    border-radius: 5px;
    border: none;
}
.block .skill-level{
    font-size: 1.2rem;
    width:40%;
    margin: 0;
    border-radius: 5px;
    border: none;
}
.top-right .ingredients-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    padding: 0;
    margin: 15px 0 0 0;
}
.top-right .ingredients-input .ingredient{
    font-size: 1.2rem;
    border: none;
    width: 60%;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.top-right .ingredients-input .ingredient-btn{
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.create-recipe-box .bottom{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom .ingredients{
    width: 100%;
}
.ingredients .ingredients-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.ingredients-list li{
    margin: 0 0 0 3px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.19);
}
.bottom .recipe-steps{
    resize: none;
    width: 800px;
    height: 200px;
    margin: 50px 0 0 0;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
}

.create-recipe-btn{
    width: 20%;
    height: 30px;
    font-size: 1.2rem;
    margin: 20px 0 0 0;
}