.create-recipe-box{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
    width: 970px;
    height: 650px;
    /* height: 0px; */ 
    background-color: #078080;
    backdrop-filter: blur(2px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
    animation: appear02 0.4s forwards;
    z-index: 0;
    padding: 30px;
}
.create-recipe-box-disappear{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
    width: 970px;
    height: 650px;
    background-color: #078080;
    backdrop-filter: blur(2px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
    animation: disappear2 0.4s forwards;
    z-index: 0;
}
.top-disappear{
    animation: disappear1 0.4s forwards;
    transform: scale(100%);
    opacity: (100%);
    top: -10000px;
    position: relative;
}
.bottom-disappear{
    animation: disappear1 0.4s forwards;
    transform: scale(100%);
    opacity: (100%);
    position: relative;
    top: -10000px;
}
.invisible{
    transform: scale(0%);
    opacity: (0%);
    position: relative;
    top: -10000px;
    height: 0px;
}
.create-recipe-box .top{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    animation: appear01 0.3s forwards;
    animation-delay: 0.4s;
    opacity: 0;
    margin: 20px 0 0 0;
}
.top .top-left{
    width: 40%;
    border: 3px solid #F3EDC8;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 75%;
}
.top-left img{
    object-fit: fill;
    width: 100%;
}
.top .top-right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-recipe-box .input-fields{
    padding: 5px;  
    border-radius: 5px;
}
.create-recipe-box .recipe-name-box{
    width: 70%;
    padding: 0;
    margin: 10px;
}
.create-recipe-box .recipe-name{
    font-size: 1rem;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: white;
}
.block{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 10px 0 0 0;
    padding: 0;
}
.block .recipe-time{
    font-size: 1rem;
    width: 40%;
    margin: 0 30px 0 0;
    border-radius: 5px;
    border: none;
    background-color: #f8f5f2;
}
.block .skill-level{
    font-size: 1rem;
    width:40%;
    margin: 0;
    border-radius: 5px;
    border: none;
    background-color: #f8f5f2;
    color: #222525;
}
.top-right .ingredients-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    padding: 0;
    margin: 20px 0 0 0;
    background-color: transparent
}
.top-right .ingredients-input .ingredient{
    font-size: 1rem;
    border: none;
    width: 60%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: #f8f5f2;
}
.top-right .ingredients-input .ingredient-btn{
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #f45d48;
    border: none;
    width: 35%;
    transition: transform 0.1s ease-in;
}
.top-right .ingredients-input .ingredient-btn:hover{
    cursor: pointer;
    background-color: #f45c48e7;
}
.create-recipe-box .bottom{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom{
    animation: appear01 0.3s forwards;
    animation-delay: 0.8s;
    opacity: 0;
    width: 100%;
}
.bottom .ingredients{
    width: 100%;
    height: 80px;
    margin: 10px 0 0 0;
}
.ingredients .ingredients-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}
.ingredients-list li{
    margin: 0 0 0 10px;
    padding: 3px;
    height: 25px;
    background-color: #BF3131;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.img-upload-box{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
}
.img-upload{
    margin: 20px 0 0 0;
    background-color:#BF3131;
    border: 1px solid black;
    border-radius: 5px;
}
.img-upload::file-selector-button{
    background-color: #f45d48;
    margin: 0 20px 0 0;
    font-size: 1rem;
    border-radius: 5px;
    font-family: Jost;
    border: 1px solid white;
}
.img-upload::file-selector-button:hover{
    cursor: pointer;
    background-color: #f45c48e7;
}
.bottom .recipe-steps{
    resize: none;
    width: 800px;
    height: 200px;
    margin: 0 0 0 0;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f5f2;
    border: none;
}
.post-recipe-btn{
    width: 20%;
    height: 30px;
    font-size: 1rem;
    margin: 20px 0 0 0;
    background-color: #f45d48;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in;
}
.post-recipe-btn:hover{
    cursor: pointer;
    background-color: #f45c48e7;
}

@keyframes disappear1 {
    from{opacity: 100% ;}
    to{opacity: 0%;}
    from{scale: 100%;}
    to{scale: 0%;}
}
@keyframes disappear2{
    from{width: 1000px ;}
    to{width: 0px;}
    from{height: 650px;}
    to{height: 0px;}
    from{opacity: 100%;}
    to{opacity: 0%;}
    from{top:0}
    to{top:-500px}
    /* from{transform: translateY(0px);}
    to{transform: translateY(-1000px);} */
}
@keyframes appear01 {
    from{opacity: 0% ;}
    to{opacity: 100%;}
    from{scale: 0%;}
    to{scale: 100%;}
}
@keyframes appear02{
    from{width: 0px ;}
    to{width: 1000px;}
    from{height: 0cm;}
    to{height: 650pxpx;}
    from{opacity: 0%;}
    to{opacity: 100%;}
    from{top:-500px}
    to{top: 0px}
}