@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Jost;
}
#root{
    background-color: #f8f5f2;
    min-height: 100vh;
}
html,body, #root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f8f5f2;
}
h1,h2,h3,p,select,input,textarea{
    color:#222525;
}
::placeholder{
    color:#22252552;
}
input:focus, textarea:focus{
    border: none;
    outline: none;
}
button:hover{
    cursor: pointer;
}
button{
    background-color: #BF3131;
    border: none;
    border-radius: 5px;
}
.pending-msg{
    font-weight: 300;
    font-style: italic;
    position: relative;
    animation: pendingAnimation 0.5s infinite;
}
.btn{
    @apply px-2 py-1 bg-[#f45d48] font-medium cursor-pointer rounded-md border-none shadow-[0px_5px_10px_rgba(0,0,0,0.2)] h-[30px] hover:bg-opacity-80
}
@keyframes pendingAnimation {
    0%{
        transform: translateX(0) translateY(0);
        opacity: 100%;
    }
    25%{
        transform: translateX(-1px) translateY(-0px);
        opacity: 90%;
    }
    50%{
        transform: translateX(-2px) translateY(-0px);
        opacity: 80%;
    }
    75%{
        transform: translateX(-1px) translateY(-0px);
        opacity: 90%;
    }
    100%{
        transform: translateX(0) translateY(0);
        opacity: 100%;
    }
}



